<div class="w-full h-full bg-yellow-500 ml-auto mr-auto flex items-center justify-center">
    <div class="w-full md:w-1/2">
        <div class="mb-4 mt-10">
            <div class="gap-3">
                <h1 class="text-slate-800 text-5xl font-bold text-center">Contactanos</h1>
            </div>
        </div>
        <form action="px-8 pt-6 pb-8 mb-4">
            <div class="mb-4">
                <div class="grid grid-flow-row sm:grid-flow-col gap-3">
                    <div class="sm:col-span-4 justify-center">
                        <label for="nya" class="block text-slate-800 text-sm font-bold mb-2">Nombres y apellidos</label>
                        <input type="text" class="shadow apperance-none border rounded w-full py-2 px-3 text-slate-800 leading-tight focus:outline-none focus:shadow-outline" id="nya" name="nya" placeholder="Nombres y apellidos" required>
                    </div>
                    <div class="sm:col-span-4 justify-center">
                        <label for="email" class="block text-slate-800 text-sm font-bold mb-2">Correo</label>
                        <input type="email" class="shadow apperance-none border rounded w-full py-2 px-3 text-slate-800 leading-tight focus:outline-none focus:shadow-outline" id="email" name="email" placeholder="example@example.com" required>
                    </div>
                </div>
            </div>
            <div class="mb-4">
                <label for="asunto" class="block text-slate-800 text-sm font-bold mb-2">Asunto</label>
                <input type="text" class="shadow apperance-none border rounded w-full py-2 px-3 text-slate-800 leading-tight focus:outline-none focus:shadow-outline" id="asunto" name="asunto" placeholder="Asunto" required>
            </div>
            <div class="mb-4">
                <label for="mensaje" class="block text-slate-800 text-sm font-bold mb-2">Mensaje</label>
                <textarea class="shadow apperance-none border rounded w-full py-2 px-3 text-slate-800 leading-tight focus:outline-none focus:shadow-outline" cols="30" rows="10" id="mensaje" name="mensaje" placeholder="Mensaje" required></textarea>
            </div>
            <div class="flex items-center justify-between mb-4">
                <button class="bg-slate-800 hover:bg-slate-400 text-white fonr-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Enviar</button>
            </div>
        </form>
    </div>
</div>