<div class="w-full h-full bg-yellow-500">
    <form action class="flex flex-col gap-4 items-center">
        <div class>
            <h1 class="text-3xl font-bold p-6">Contactanos</h1>
        </div>
        <div class=" flex flex-col w-2/4 gap-2">
            <label for="nombre" class="w-full h-full">Nombre</label>
            <input type="text" placeholder="Nombre" class="w-full h-full">
        </div>
        <div class="flex flex-col w-2/4 gap-2">
            <label for="mensaje" class="w-full h-full">Mensaje</label>
            <textarea name id placeholder="mensaje" rows="20"
                cols="40" class="w-full h-full"></textarea>
        </div>
        <input type="submit" value="Enviar">
    </form>
</div>